# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# macOS
.DS_Store

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env.local
.env*.local

# Editor
.idea/
.vscode/
*.swp
